<!-- padding down: 3, margin top: automatic according to the body size, to send it bottom of the page-->
<br>
<footer class="footer py-3 mt-auto" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <span class="text-white">&copy; 2022 FindMeHotel</span>
            </div>
            <div class="col">
                <span class="text-white">Created by Himanshu Gupta</span>
            </div>
        </div>   
    </div>
</footer>