<% layout('layouts/boilerplate') %> 
<div class="mt-5"></div>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dwbefprlg/image/upload/v1649954600/FindMeHotel/Black_Minimal_Motivation_Quote_LinkedIn_Banner_ver01t.png"
                    alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" id="register-form" method="POST" class="validated-form" novalidate>

                            <div class="mb-3" >
                                <label class="form-label" for="name">Full Name</label>
                                <input class="form-control" type="text" id="name" name="name" required>
                                <div class="valid-feedback">
                                    Accepted!
                                </div>
                            </div>

                            <div class="mb-3" >
                                <label class="form-label" for="mobileNumber">Phone Number</label>
                                <input class="form-control" type="text" id="mobileNumber" name="mobileNumber" required>
                                <div class="valid-feedback">
                                    Accepted!
                                </div>
                            </div>

                            <div class="mb-3" >
                                <label class="form-label" for="dob">Date of Birth</label>
                                <input class="form-control" type="date" id="dob" name="dob" required>
                                <div class="valid-feedback">
                                    Accepted!
                                </div>
                            </div>

                            <div class="mb-3" >
                                <label class="form-label" for="address">Address</label>
                                <input class="form-control" type="text" id="address" name="address" required>
                                <div class="valid-feedback">
                                    Accepted!
                                </div>
                            </div>

                            <div class="mb-3" >
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                                <div class="valid-feedback">
                                    Accepted!
                                </div>
                            </div>
                        
                            <div class="mb-3" >
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Accepted!
                                </div>
                            </div>
                        
                            <div class="mb-3" >
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Accepted!
                                </div>
                            </div>
                            
                            <div class="d-grid gap-2">
                                <button class="btn btn-dark">Sign up</button>
                            </div>
                            
                        </form>
                    </div>
                    
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/registerUser.js"></script>







